USE [TUĞRAL_DÖKÜM_LTD_2022T]
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_057_22_BorcYaslandirmaListesi]    Script Date: 16.07.2022 13:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT [LOGICALREF]  ,[YETKILI],[CARIKODU],[CARIADI],[VADE],[GUNFARK],[CLIENTREF],[TARIH],[ACIKLAMA],[TRCODE],[DOCODE],[BORC]
--,[ALACAK],[BAKIYE],[KALANTAHSILAT],[TOPLAMTAHSILAT],[CARI_VADE_GUNU]  FROM [dbo].[tmp_CariBakiye2021] WHERE CARIADI LIKE 'DURMAZ%'
--SELECT * FROM [dbo].[fnc_057_22_BorcYaslandirmaListesi]() WHERE CARIADI LIKE 'DURMAZ%' AND 

 --ALTER function [dbo].[fnc_057_22_BorcYaslandirmaListesi]() RETURNS 
  DECLARE 
@ALACAK_TABLE
TABLE (
LOGICALREF INT,YETKILI VARCHAR(100),CARIKODU VARCHAR(100),CARIADI VARCHAR(255), VADE varchar(20),GUNFARK INT, CLIENTREF INT, TARIH DATETIME, ACIKLAMA VARCHAR(128),
TRCODE INT, DOCODE VARCHAR(120), BORC FLOAT,ALACAK FLOAT,BAKIYE FLOAT,KALANTAHSILAT FLOAT,TOPLAMTAHSILAT FLOAT,CARI_VADE_GUNU VARCHAR(30) )

BEGIN

--SET DATEFORMAT DMY

DECLARE @TARIH1 DATETIME,
		@TARIH2 DATETIME

SET @TARIH1 = '20220101'
SET @TARIH2 = '20221231'
decLARE @CARIREFERANS INT 
DECLARE @LOGICALREF INT
DECLARE @YETKILI VARCHAR(100)
DECLARE @CARIKODU VARCHAR(100)
DECLARE @CARIADI VARCHAR(255)
DECLARE @VADE varchar(20)
DECLARE @GUNFARK INT 
DECLARE @CLIENTREF INT
DECLARE @TARIH DATETIME
DECLARE @ACIKLAMA VARCHAR(128)
DECLARE @TRCODE INT
DECLARE @DOCODE VARCHAR(120)
DECLARE @BORC FLOAT
DECLARE @ALACAK FLOAT
DECLARE @BAKIYE FLOAT

DECLARE @CRK VARCHAR(120)


DECLARE @TAHSILATLAR DECIMAL(20,5)
DECLARE @TAHSILATLARIADE DECIMAL(20,5)
DECLARE @KALANTAHSILAT DECIMAL(20,5)
DECLARE @SATIRBORC DECIMAL(20,5)
DECLARE @SAYAC INT
DECLARE @SONSAYAC INT
/*
SELECT LG_007_PAYPLANS.DEFINITION_ ,*FROM LG_007_CLCARD 
LEFT JOIN LG_007_PAYPLANS ON LG_007_CLCARD.PAYMENTREF = LG_007_PAYPLANS.LOGICALREF
WHERE LG_007_CLCARD.CODE LIKE '120.00.01.25%'

--SELECT * FROM LG_007_PAYPLANS 50
*/
--SET @CARIREFERANS = 12
DECLARE @KayitSayi INT


declare @TABLE_18 TABLE 
([LOGICALREF] [int] NULL,
    YETKILI VARCHAR(100) NULL,
	[CARIKODU] [varchar](100) NULL,
	[CARIADI] [varchar](255) NULL,
	VADE varchar(20) NULL,
	
	[GUNFARK] [int] NULL,
	[CLIENTREF] [int] NULL,
	[TARIH] [datetime] NULL,
	[ACIKLAMA] [varchar](128) NULL,
	[TRCODE] [int] NULL,
	[DOCODE] [varchar](120) NULL,
	[BORC] [float] NULL,
	[ALACAK] [float] NULL,
	[BAKIYE] [float] NULL,
	[KALANTAHSILAT] [float] NULL,
	[TOPLAMTAHSILAT] [float] NULL,
	  CARI_VADE_GUNU VARCHAR(30) NULL
	)
 

DECLARE CariCursor CURSOR FOR

--SELECT LOGICALREF  FROM LG_007_CLCARD WHERE CODE LIKE '120%' ESKİ SORGU

SELECT   CRK,REF -- REF AS CARIGEN 
--LG_007_22_CLFLINE.CLIENTREF
 FROM CARIGEN
WHERE SUBSTRING(CRK,1,4) = '120.' AND CRK NOT LIKE '%-340'  AND STA like 'arbe%' 
ORDER BY STA


OPEN CariCursor

FETCH NEXT FROM CariCursor
INTO @CRK,@CARIREFERANS
WHILE @@FETCH_STATUS = 0
BEGIN

 
  
   
INSERT INTO @ALACAK_TABLE

--SELECT ODEMESURESI, * FROM CARIGEN WHERE STA LIKE 'ES%'
 SELECT  
 ROW_NUMBER() OVER(ORDER BY TARIH asc) AS LOGICALREF ,
 --1 AS LOGICALREF, 
 YETKILI ,CARIKODU ,CARIADI , VADE ,GUNFARK , CLIENTREF , TARIH , ACIKLAMA ,
TRCODE , DOCODE , BORC ,ALACAK ,BAKIYE ,KALANTAHSILAT ,   TOPLAMTAHSILAT ,CARI_VADE_GUNU 
 
 
 
 
 
 
 FROM (
SELECT 
--CBKISLEMREF AS LOGICALREF,
ROW_NUMBER() OVER(ORDER BY CBKISLEMREF asc) AS LOGICALREF,
CARIGEN.OZELKOD2 AS YETKILI, CRK AS CARIKODU, STA AS CARIADI, 
 --VADETARIHI  AS VADE
  CONVERT(char(10),VADETARIHI,103) AS VADE
 
 , datediff(dd,GETDATE() ,  VADETARIHI ) AS GUNFARK, CARIGEN.REF AS CLIENTREF,CARITISLEM.TARIH AS TARIH, ISLEMAC AS ACIKLAMA,
 ISLEMTURU TRCODE, EVRAKNO AS DOCODE, CONVERT(NUMERIC(20,2),ISNULL(TUTARB,0)) as  BORC,CONVERT(NUMERIC(20,2),ISNULL(TUTARA,0)) AS ALACAK, BAKIYE 
 ,0 AS KALANTAHSILAT,CARISTCT AS TOPLAMTAHSILAT, ODEMESURESI AS CARI_VADE_GUNU
FROM 
(
SELECT CARIHAR.*,VADEGUNU=DATEDIFF(day, TARIH, VADETARIHI) ,TOPLAMLAR.*,
CARIGEN.DOVIZC AS CARIDVZCINSI,
	CASE WHEN ISNULL(DVZKUR.Rk2u,1)>0 THEN ISNULL(DVZKUR.Rk2u,1) ELSE 1 END as CARIDVZUGDK,
	 CASE
	  WHEN CARIHAR.BORA IN ('B','S') THEN
		CASE
		 WHEN ISNULL(CARIGEN.DOVIZC,1) <= 1 THEN CARIHAR.TUTARB
		 WHEN ISNULL(CARIGEN.DOVIZC,1) > 1 AND CARIGEN.DOVIZC = CARIHAR.DOVIZC THEN CARIHAR.TUTARDB
		 WHEN ISNULL(CARIGEN.DOVIZC,1) > 1 AND CARIGEN.DOVIZC <> CARIHAR.DOVIZC THEN
			 CARIHAR.TUTARB / CASE WHEN ISNULL(DVZKUR.Rk2u,1)>0 THEN ISNULL(DVZKUR.Rk2u,1) ELSE 1 END
		END
	  ELSE 0
	 END AS CARIDVZBORC,
	 CASE
	  WHEN CARIHAR.BORA IN ('C','A') THEN
		CASE
		 WHEN ISNULL(CARIGEN.DOVIZC,1) <= 1 THEN CARIHAR.TUTARA
		 WHEN ISNULL(CARIGEN.DOVIZC,1) > 1 AND CARIGEN.DOVIZC = CARIHAR.DOVIZC THEN CARIHAR.TUTARDA
		 WHEN ISNULL(CARIGEN.DOVIZC,1) > 1 AND CARIGEN.DOVIZC <> CARIHAR.DOVIZC THEN
			 CARIHAR.TUTARA / CASE WHEN ISNULL(DVZKUR.Rk2u,1)>0 THEN ISNULL(DVZKUR.Rk2u,1) ELSE 1 END
		END
	  ELSE 0
	 END AS CARIDVZALACAK
FROM
(
	 SELECT REF as CBKISLEMREF,TARIH,SAAT,BORA,ISLEMTURU,ISLEMAC,SUBE,ISLEMTIPI,
         EVRAKNO,ACIKLAMA,
			CASE WHEN ISLEMTURU in (37,168) AND ISNULL(GGDAHILHARIC,0)=0 THEN TUTARB-ISNULL(GIDERTL,0)
				 WHEN ISLEMTURU = 161 THEN TUTARA
         WHEN ISLEMTURU in (181,182) THEN 0
			ELSE TUTARB END AS TUTARB,
			CASE WHEN ISLEMTURU = 36 AND ISNULL(GGDAHILHARIC,0)=0 THEN TUTARA-ISNULL(GIDERTL,0)
				 WHEN ISLEMTURU = 161 THEN 0
         WHEN ISLEMTURU in (181,182) THEN TUTARB
			ELSE TUTARA END AS TUTARA,
			CASE WHEN ISLEMTURU in (37,168) AND ISNULL(GGDAHILHARIC,0)=0 THEN TUTARDB-ISNULL(GIDERTL,0)
				 WHEN ISLEMTURU = 161 THEN TUTARDA
         WHEN ISLEMTURU in (181,182) THEN 0
			ELSE TUTARDB END AS TUTARDB,
			CASE WHEN ISLEMTURU = 36 AND ISNULL(GGDAHILHARIC,0)=0 THEN TUTARDA-ISNULL(GIDERD,0)
				 WHEN ISLEMTURU = 161 THEN 0
         WHEN ISLEMTURU in (181,182) THEN TUTARDB
			ELSE TUTARDA END AS TUTARDA,
			UGDK,DOVIZC,EYNM,EYNMK,
         MASRAFMERKEZI,OZELKOD1,OZELKOD2,MODUL,ISNULL(VADETARIHI,TARIH) AS VADETARIHI,KULLANICI,
         GGKODU,SATICI,
         CARIP_ID,case when isnull(EYNMK,0)=60 AND isnull(EVRAKP_ID,'')<>'' then EVRAKP_ID else P_ID end as EVRAKP_ID,
         P_ID as CBKP_ID,
           CASE WHEN ISLEMTURU = 30 THEN 10
				WHEN ISLEMTURU = 31 THEN 20
				WHEN ISLEMTURU = 32 THEN 30
				WHEN ISLEMTURU = 127 THEN 50
				WHEN ISLEMTURU = 128 THEN 60	
				WHEN ISLEMTURU = 38 THEN 230
				WHEN ISLEMTURU = 39 THEN 240
				WHEN ISLEMTURU = 162 THEN 250
				WHEN ISLEMTURU = 125 THEN 260
				WHEN ISLEMTURU = 126 THEN 270
				WHEN ISLEMTURU = 33 THEN 40
				WHEN ISLEMTURU = 34 THEN 190
				WHEN ISLEMTURU in (35,169) THEN 200
				WHEN ISLEMTURU = 36 THEN 220
				WHEN ISLEMTURU in (37,168) THEN 220
				WHEN ISLEMTURU = 48 THEN 320
				WHEN ISLEMTURU = 161 THEN 340
				WHEN ISLEMTURU = 176 THEN 360
        WHEN ISLEMTURU = 181 THEN 380
		   END as ONCELIK,CARIREF,KASAREF,BANKAREF,CARISUBE
		    , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         FROM CBKISLEM WHERE ISLEMTURU IN (30,31,32,38,39,125,126,127,128,162,33,34,35,48,36,37,161,176,177,168,169,181,182,160) AND ISNULL(DEVIR,'')<>'E'
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK) )
         AND TARIH BETWEEN @TARIH1 AND @TARIH2
        
         
	 	 UNION ALL
        select REF,TARIH,SAAT,'B',ISLEMTURU,ISLEMAC,SUBE,ISLEMTIPI,
         EVRAKNO,ACIKLAMA,TUTARA,TUTARB,TUTARDA,TUTARDB,UGDK,DOVIZC,EYNM,EYNMK,
         MASRAFMERKEZI,OZELKOD1,OZELKOD2,MODUL,
         ISNULL(VADETARIHI,TARIH) AS VADETARIHI,KULLANICI,GGKODU,SATICI,
         CASE ISLEMTURU WHEN 33 THEN CARI2P_ID ELSE CARIP_ID END,case when isnull(EYNMK,0)=60 AND isnull(EVRAKP_ID,'')<>'' then EVRAKP_ID else P_ID end,P_ID,
         CASE ISLEMTURU WHEN 33 THEN 40 ELSE 322 END,CASE ISLEMTURU WHEN 33 THEN CARIREF2 ELSE CARIREF END,
         KASAREF,BANKAREF,CARISUBE
		 		   , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         from CBKISLEM WHERE 
         (ISLEMTURU IN (33) AND ISNULL(CARIREF2,0)>0  
         AND CARI2P_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         )
         OR 
         (ISLEMTURU IN (48) AND ISNULL(CARIREF,0)>0 and ISNULL(KASAREF,0)>0 
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         )
         AND TARIH BETWEEN @TARIH1 AND @TARIH2


		UNION ALL
        SELECT REF,TARIH,SAAT,BORA,ISLEMTURU,ISLEMAC,SUBE,ISLEMTIPI,
         EVRAKNO,GGADI+' Gider Kaydı ',0,GIDERTL,0,GIDERD,UGDK,DOVIZC,EYNM,EYNMK,
         MASRAFMERKEZI,OZELKOD1,OZELKOD2,MODUL,
         ISNULL(VADETARIHI,TARIH) AS VADETARIHI,KULLANICI,GGKODU,SATICI,
         CARIP_ID,case when isnull(EYNMK,0)=60 AND isnull(EVRAKP_ID,'')<>'' then EVRAKP_ID else P_ID end,P_ID,222,CARIREF,KASAREF,BANKAREF,CARISUBE
		 		   , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
		 from CBKISLEM WHERE ISLEMTURU IN (36) 
         AND ISNULL(CARIREF,0)>0 and ISNULL(GGREF,0)>0 
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         AND TARIH BETWEEN @TARIH1 AND @TARIH2
         
         
		UNION ALL
          SELECT CEKBORDRO.BRDNO,
          BRDTAR,SAAT,
          CASE WHEN BRDTUR IN (100,104) THEN 'C' ELSE 'B' END,BRDTUR,
           CASE 
				WHEN BRDTUR = 100 THEN 'Çek-Senet Girişi' 
				WHEN BRDTUR = 104 THEN 'Çek-Senet Girişi (İade)'
				WHEN BRDTUR = 101 THEN 'Çek-Senet Çıkışı (Cari)' 
				WHEN BRDTUR = 102 THEN 'Ç-S Çıkışı (Banka Tahsil)' 
				WHEN BRDTUR = 103 THEN 'Ç-S Çıkışı (Banka Teminata)' 
				WHEN BRDTUR = 105 THEN 'Çek-Senet Çıkışı (İade)' 
		   END,
          SUBE,ISLEMTIPI,BORDRONOS_S,ACIKLAMA,
			 CASE WHEN BRDTUR IN (100,104) THEN 0 ELSE TUTAR END,
			 CASE WHEN BRDTUR IN (100,104) THEN TUTAR ELSE 0 END,
			 CASE WHEN BRDTUR IN (100,104) THEN 0 ELSE DVZMIKTAR END,
			 CASE WHEN BRDTUR IN (100,104) THEN DVZMIKTAR ELSE 0 END,
			 UGDK,DVZCINSI,BRDNO,100,
		  MASRAFMERKEZI, OZELKOD1, OZELKOD2, 'S',VADETARIHI, KULADI,'',SATICI,CARIP_ID,P_ID,'',
          CASE WHEN BRDTUR = 100 THEN 280 WHEN BRDTUR = 104 THEN 300 WHEN BRDTUR = 101 THEN 290
			WHEN BRDTUR = 102 THEN 1000 WHEN BRDTUR = 103 THEN 1010 WHEN BRDTUR = 105 THEN 310
          END,CEKBORDRO.CARIREF,CEKBORDRO.KASAREF,CEKBORDRO.BANKAREF,CEKBORDRO.CARISUBE
		   , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
          FROM CEKBORDRO WHERE ISNULL(BRDTUR,0) IN (100,104,101,102,103,105) AND ISNULL(CARIREF,0)>0
          AND ISNULL(DEVIR,'H')<>'E' AND ISNULL(CBKISLEMP_ID,'')=''
          AND ISNULL(DURUMKODU,0) NOT IN (3,15,11,16)
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK)) 
         AND CEKBORDRO.BRDTAR BETWEEN @TARIH1 AND @TARIH2
                 
                 
		UNION ALL
          SELECT BORDROCEKLER.REF,
          DDTARIHI,CEKBORDRO.SAAT,CASE WHEN PCKURAORS = 'B' THEN 'B' ELSE 'C' END,BORDROCEKLER.BRDTUR,
          'Çek/Senet Kur Farkı',
          BORDROCEKLER.SUBE,BORDROCEKLER.ISLEMTIPI,BORDROCEKLER.BORDRONOS_S,'Portföyno : '+
          BORDROCEKLER.PRTFYNOS_S+' - Çek No :'+CEKNO,
          CASE WHEN ISNULL(BORDROCEKLER.PCKURAORS,'') = 'B' THEN PCKURFARKI ELSE 0 END,
          CASE WHEN ISNULL(BORDROCEKLER.PCKURAORS,'') = 'B' THEN 0 ELSE PCKURFARKI END,
          0,0,BORDROCEKLER.UGDK,BORDROCEKLER.DVZCINSI,CEKBORDRO.BRDNO,100,
		  BORDROCEKLER.MASRAFMERKEZI, BORDROCEKLER.OZELKOD1, BORDROCEKLER.OZELKOD2, 'S',
		   DDTARIHI,CEKBORDRO.KULADI,'',SATICI,
          ASILCARIP_ID,BORDROCEKLER.P_ID,'',
          CASE WHEN BORDROCEKLER.BRDTUR = 106 THEN 280 END,
          CEKBORDRO.CARIREF,CEKBORDRO.KASAREF,CEKBORDRO.BANKAREF,CEKBORDRO.CARISUBE
		  , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
          FROM BORDROCEKLER
          LEFT JOIN CEKBORDRO ON CEKBORDRO.P_ID = BORDROCEKLER.P_ID 
          WHERE ISNULL(BORDROCEKLER.BRDTUR,0) IN (106) AND ISNULL(BORDROCEKLER.ASILCARIP_ID,'')<>''
          AND ISNULL(BORDROCEKLER.DURUM,0) IN (3,15) 
          AND BORDROCEKLER.ASILCARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
          AND ISNULL(CEKBORDRO.KFCARIYEEKLE,0)=1 AND ISNULL(BORDROCEKLER.PCKURFARKI,0)>0
          AND CEKBORDRO.BRDTAR BETWEEN @TARIH1 AND @TARIH2
 

		UNION ALL
		 SELECT REF,TARIH,SAAT,'C',TUR,TURAC,SUBE,ISLEMTIPI,
		 EVRAKNO,ACIKLAMA,0,TUTARTL,0,TUTARD,UGDK,
		 DOVIZC,REF,176,
         MASRAFMERKEZI,OZELKOD1,OZELKOD2,'O',
         ISNULL(VADETARIHI,TARIH) AS VADETARIHI,KULLANICI,'','',
         CARIP_ID,P_ID,P_ID,360,CARIREF,KASAREF,0,CARISUBE
		 		   , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         FROM ODEMEPLANTAHSIL
         WHERE 1=1
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         AND TARIH >= ISNULL((SELECT TARIH FROM AYARLAR WHERE AYARADI ='BT'),0)
         AND TARIH BETWEEN @TARIH1 AND @TARIH2
         AND ISNULL(CBKP_ID,'')=''
         

		UNION ALL
		SELECT (SELECT REF FROM CBKISLEM WHERE P_ID = CBKP_ID),
         TARIH,TARIH,'C',166,'Kredi Kartı Tahsilatı',0,1,
		 EVRAKNO,ACIKLAMA,0,FISTUTAR,0,0,0,1,REF,165,
		 MASRAFMERKEZI,OZELKOD1,OZELKOD2,'B',
		 BASLAMATARIH,KULLANICI,'', SATICI,
		 CARIP_ID,P_ID,CBKP_ID,370,CARIREF,0,0,CARISUBE
		 		   , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         FROM POSCBKKAYIT WHERE ISNULL(OTTIPI,0) IN (1,2) AND ISNULL(CARIREF,0)>0
		AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
		AND ISNULL(MAKBUZ,0)=0 AND ISNULL(BANKAP_ID,'') <> ''
		AND TARIH >= ISNULL((SELECT TARIH FROM AYARLAR WHERE AYARADI ='BT'),0)
		AND TARIH BETWEEN @TARIH1 AND @TARIH2


		UNION ALL
		 SELECT REF,TARIH,TARIH,'C',166,'Kredi Kartı Tahsilatı',0,1,
		 EVRAKNO,ACIKLAMA,0,BRUTTUTAR,0,0,0,1,REF,165,
		 MASRAFMERKEZI,OZELKOD1,OZELKOD2,'B',
		 TARIH,KULLANICI,'','',
		 CARIP_ID,P_ID,P_ID,370,CARIREF,0,BANKAREF,CARISUBE
		 		   , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         FROM POSKAYITTAHSIL WHERE ISNULL(CARIREF,0)>0 AND ISNULL(BANKAP_ID,'') <> ''
         AND ISNULL(DURUM,0) = 0 AND ISNULL(YDURUM,0) = 1 
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         AND TARIH >= ISNULL((SELECT TARIH FROM AYARLAR WHERE AYARADI ='BT'),0)
         AND TARIH BETWEEN @TARIH1 AND @TARIH2


	UNION ALL
        SELECT SIRANO,EVRAKTAR,SAAT,CASE WHEN AORS = 'S' THEN 'B' ELSE 'C' END,
         TUR,TURAC,SUBE,ISLEMTIPI,
         case WHEN isnull(FATURA.GIBEVRAKNO,'')<>'' then GIBEVRAKNO ELSE EVRAKNO end EVRAKNO,(SELECT TOP 1 ISNULL(ACIKLAMA,'') FROM EVRAKTOPLAMLARI EV WHERE EV.P_ID = FATURA.P_ID),
         CASE WHEN AORS = 'S' THEN 
				CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDV ELSE case when TUR = 65 then GENELTOPLAM-(TOPLAMKDV + isnull((select sum(isnull(SOTVTECILTL,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE cast(GENELTOPLAM as Numeric(20,2)) end
				END
				ELSE 0 END,
         CASE WHEN AORS = 'A' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDV ELSE case when TUR = 65 then GENELTOPLAM-(TOPLAMKDV + isnull((select sum(isnull(SOTVTECILTL,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE cast(GENELTOPLAM as Numeric(20,2)) end END
          ELSE 0 END,
         CASE WHEN AORS = 'S' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDVD ELSE case when TUR = 65 then GENELTOPLAMD-(TOPLAMKDVD + isnull((select sum(isnull(SOTVTECILD,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE cast(GENELTOPLAMD as Numeric(20,2)) end END
          ELSE 0 END,
         CASE WHEN AORS = 'A' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDVD ELSE case when TUR = 65 then GENELTOPLAMD-(TOPLAMKDVD + isnull((select sum(isnull(SOTVTECILD,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE cast(GENELTOPLAMD as Numeric(20,2)) end END
          ELSE 0 END,
         UGDK,DOVIZC,SIRANO,60,
         MASRAFMERKEZI,OZELKOD1,OZELKOD2,'F',
         ISNULL(VADETARIHI,EVRAKTAR) AS VADETARIHI,KULLANICI,'',SATICI,
         CARIP_ID,P_ID,'',
         CASE
			WHEN TUR = 61 THEN 100
			WHEN TUR = 62 THEN 110
			WHEN TUR = 64 THEN 130
			WHEN TUR = 69 THEN 160
			WHEN TUR = 270 THEN 170
			WHEN TUR in (271,272) THEN 180
			WHEN TUR in (60,280,281) THEN 70
			WHEN TUR = 63 THEN 120			
         END,CARIREF,KASAKODU,BANKAREF,CARISUBE
		 		 ,CASE WHEN TUR = 69 THEN isnull((select sum(isnull(BAGKURTUTARTL,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)  END as BAGKURTUTARTL ,
		  CASE WHEN TUR = 69 THEN isnull((select sum(isnull(GVSTOPAJTUTARITL,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)  END as GVSTOPAJTUTARITL 
         FROM FATURA WHERE TUR IN (61,62,64,69,270,271,272,60,63,280,281) AND ISNULL(IPTAL,0)=0
         AND ISNULL(CARIP_ID,'')<>'' 
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         AND EVRAKTAR BETWEEN @TARIH1 AND @TARIH2


		UNION ALL
        SELECT SIRANO,EVRAKTAR,SAAT,CASE WHEN AORS = 'A' THEN 'C' ELSE 'B'END,
         TUR,TURAC,SUBE,ISLEMTIPI,
         EVRAKNO,
         (SELECT TOP 1 ISNULL(ACIKLAMA,'') FROM EVRAKTOPLAMLARI EV WHERE EV.P_ID = FATURA.P_ID),
         CASE WHEN AORS = 'S' THEN GENELTOPLAM-(TOPLAMKDV + isnull((select sum(isnull(SOTVTECILTL,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE 0 END,
         CASE WHEN AORS = 'A' THEN GENELTOPLAM-(TOPLAMKDV + isnull((select sum(isnull(SOTVTECILTL,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE 0 END,
         CASE WHEN AORS = 'S' THEN GENELTOPLAMD-(TOPLAMKDVD + isnull((select sum(isnull(SOTVTECILD,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE 0 END,
         CASE WHEN AORS = 'A' THEN GENELTOPLAMD-(TOPLAMKDVD + isnull((select sum(isnull(SOTVTECILD,0)) from FATURA_ALT WHERE FATURA_ALT.P_ID = FATURA.P_ID),0)) ELSE 0 END,
         UGDK,DOVIZC,SIRANO,60,
         MASRAFMERKEZI,
         OZELKOD1,OZELKOD2,'F',
         ISNULL(VADETARIHI,EVRAKTAR) AS VADETARIHI,KULLANICI,'',SATICI,
         CARIP_ID,P_ID,'',
         CASE
			WHEN TUR = 65 THEN 80
			WHEN TUR = 66 THEN 140
         END,CARIREF,KASAKODU,BANKAREF,CARISUBE
		  , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         FROM FATURA WHERE TUR IN (65,66) AND ISNULL(IPTAL,0)=0
         AND ISNULL(CARIP_ID,'')<>'' 
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         AND EVRAKTAR BETWEEN @TARIH1 AND @TARIH2


	UNION ALL
        SELECT SIRANO,EVRAKTAR,SAAT,CASE WHEN TUR = 67 THEN 'B' ELSE 'C'END,
         TUR,TURAC,SUBE,ISLEMTIPI,
         case WHEN isnull(FATURA.GIBEVRAKNO,'')<>'' then GIBEVRAKNO ELSE EVRAKNO end EVRAKNO,
         CARIADI +' '+(SELECT TOP 1 ISNULL(ACIKLAMA,'') FROM EVRAKTOPLAMLARI EV WHERE EV.P_ID = FATURA.P_ID),
         CASE WHEN AORS = 'S' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDV ELSE GENELTOPLAM END 
          ELSE 0 END,
         CASE WHEN AORS = 'A' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDV ELSE GENELTOPLAM END 
          ELSE 0 END,
         CASE WHEN AORS = 'S' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDVD ELSE GENELTOPLAMD END 
          ELSE 0 END,
         CASE WHEN AORS = 'A' THEN CASE WHEN ISNULL(INT_1,0) = 1 THEN TOPLAMKDVD ELSE GENELTOPLAMD END 
          ELSE 0 END,
          UGDK,DOVIZC,SIRANO,60,
         MASRAFMERKEZI,
         OZELKOD1,OZELKOD2,'F',
         ISNULL(VADETARIHI,EVRAKTAR) AS VADETARIHI,KULLANICI,'',
         SATICI,CARIP_ID,P_ID,'',
         CASE
			WHEN TUR = 67 THEN 90
			WHEN TUR = 68 THEN 150
         END,CARIREF,KASAKODU,BANKAREF,CARISUBE
		  , 0 as BAGKURTUTARTL ,
		  0 as GVSTOPAJTUTARITL 
         FROM FATURA WHERE TUR IN (67,68) AND ISNULL(IPTAL,0)=0
         AND ISNULL(CARIP_ID,'')<>'' 
         AND CARIP_ID IN (SELECT P_ID FROM CARIGEN WHERE ((isNull(Detay,'')<>'H') AND (isNull(GORUNSUN,'')<>'HAYIR')) and (CRK=@CRK))
         AND EVRAKTAR BETWEEN @TARIH1 AND @TARIH2

) AS CARIHAR
LEFT JOIN
(
Select CARI_REF=Max(REF),BAKIYE=Isnull(sum(TUTARB),0)-Isnull(sum(TUTARA),0),BAKIYE_D=Isnull(sum(TUTARDB),0)-Isnull(sum(TUTARDA),0),
CARISTGT=Isnull(sum(TUTARB),0),CARISTCT=Isnull(sum(TUTARA),0),CARISTGT_D=Isnull(sum(TUTARDB),0),CARISTCT_D=Isnull(sum(TUTARDA),0)
from CARIT_ISLEM_TUTAR_DVZ() left join CARIGEN on CARIP_ID=P_ID
group by CARIP_ID
) as TOPLAMLAR ON TOPLAMLAR.CARI_REF = CARIHAR.CARIREF
LEFT JOIN CARIGEN ON CARIGEN.P_ID = CARIHAR.CARIP_ID
LEFT JOIN [zirvegenel].dbo.dovizkur as DVZKUR on DVZKUR.Dovizkodu = isnull(CARIGEN.DOVIZC,1) and
DVZKUR.Kurtarihi = CARIHAR.TARIH
) as CARITISLEM
left join CARIGEN on CARIP_ID=P_ID
WHERE 1=1 AND ISLEMTURU <> 30
AND (TARIH>='20220101')and(TARIH<='20221231')
 --ORDER BY CARITISLEM. TARIH,SAAT,ONCELIK,ISLEMTURU,BORA,EVRAKNO

 UNION ALL

 SELECT [LOGICALREF]
      ,[YETKILI]
      ,[CARIKODU]
      ,[CARIADI]
      ,[VADE]
      ,[GUNFARK]
      ,[CLIENTREF]
      ,[TARIH]
      ,[ACIKLAMA]
      ,[TRCODE]
      ,[DOCODE]
      ,[BORC]
      ,[ALACAK]
      ,[BAKIYE]
      ,[KALANTAHSILAT]
      ,[TOPLAMTAHSILAT]
      ,[CARI_VADE_GUNU]
  FROM [dbo].[tmp_CariBakiye2021] WHERE [CARIKODU] =@CRK
  
	 
) AS LISTE
ORDER BY LISTE.VADE ASC 



SELECT @SONSAYAC= MAX(LOGICALREF) FROM @ALACAK_TABLE WHERE CLIENTREF = @CARIREFERANS 


 SELECT TOP 1 @TAHSILATLAR= TOPLAMTAHSILAT FROM @ALACAK_TABLE WHERE CLIENTREF = @CARIREFERANS AND TARIH>='20220101' --and TOPLAMTAHSILAT>0
  
--SELECT *  FROM @ALACAK_TABLE WHERE CLIENTREF = @CARIREFERANS
 update @ALACAK_TABLE  set TOPLAMTAHSILAT = @TAHSILATLAR WHERE CLIENTREF = @CARIREFERANS  and TOPLAMTAHSILAT = 0
 select * from @ALACAK_TABLE
DECLARE processes CURSOR FOR

SELECT LOGICALREF ,YETKILI, CARIKODU ,CARIADI , VADE ,GUNFARK, CLIENTREF , TARIH , ACIKLAMA,
TRCODE , DOCODE, BORC ,ALACAK ,BAKIYE  FROM @ALACAK_TABLE WHERE BORC>0  and CLIENTREF = @CARIREFERANS order by CAST(TARIH AS DATE)




OPEN processes
set @KALANTAHSILAT = @TAHSILATLAR
SET @SATIRBORC = 0
SET @SAYAC = 0
FETCH NEXT FROM processes
INTO @LOGICALREF ,@YETKILI, @CARIKODU ,@CARIADI , @VADE ,@GUNFARK, @CLIENTREF , @TARIH , @ACIKLAMA,@TRCODE , @DOCODE, @BORC ,@ALACAK ,@BAKIYE
WHILE @@FETCH_STATUS = 0
BEGIN
     
      WHILE @SAYAC<@SONSAYAC + 1
      BEGIN
	       
	      IF @SAYAC = 1 AND @ALACAK > 0
             SELECT @SATIRBORC=ALACAK FROM @ALACAK_TABLE WHERE LOGICALREF = @SAYAC AND @CARIREFERANS = CLIENTREF ORDER BY LOGICALREF
		  ELSE 
		     SELECT @SATIRBORC=BORC FROM @ALACAK_TABLE WHERE LOGICALREF = @SAYAC AND @CARIREFERANS = CLIENTREF ORDER BY LOGICALREF
          
		  if (@KALANTAHSILAT - @SATIRBORC>0)
          BEGIN
                SET @KALANTAHSILAT = @KALANTAHSILAT - @SATIRBORC
                SET @SATIRBORC = 0
          END
          ELSE IF (@SATIRBORC - @KALANTAHSILAT >0)
          BEGIN
                SET @SATIRBORC = @SATIRBORC - @KALANTAHSILAT
                SET @KALANTAHSILAT = 0
          END    
          ELSE IF (@SATIRBORC - @KALANTAHSILAT =0)
          BEGIN
                SET @SATIRBORC = @SATIRBORC - @KALANTAHSILAT
                SET @KALANTAHSILAT = 0
          END   
		  
		  

          UPDATE @ALACAK_TABLE SET KALANTAHSILAT= ISNULL(@KALANTAHSILAT,0) , BAKIYE= ISNULL(@SATIRBORC,0),TRCODE = @SAYAC WHERE LOGICALREF=@SAYAC AND  @CARIREFERANS = CLIENTREF
          SET @SAYAC  =@SAYAC +1



 
      END
FETCH NEXT FROM processes
INTO @LOGICALREF ,@YETKILI , @CARIKODU ,@CARIADI , @VADE ,@GUNFARK, @CLIENTREF , @TARIH , @ACIKLAMA,@TRCODE , @DOCODE, @BORC ,@ALACAK ,@BAKIYE
END

 


CLOSE processes
DEALLOCATE processes


FETCH NEXT FROM CariCursor
INTO @CRK,@CARIREFERANS
END

 


CLOSE CariCursor
DEALLOCATE CariCursor
  SELECT * FROM @ALACAK_TABLE  ORDER BY LOGICALREF 
--RETURN  
end